@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}



.hide-scroll-bar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chats-list h1 {
    font-size: 2rem; /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .chats-list h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .chats-list h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .chats-list h4, .chats-list h5, .chats-list h6 {
    font-weight: bold;
  }
  

  .chats-list a{
    font-weight: bold;
  }

  .chats-list li:has(> a.message-link) {
    padding-bottom: 10px;
}

  .chats-list .message-link::before {
    content: " 🔗"; 
    font-size: 15px;
    color: #19213D;
  }

  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/futura\ light\ bt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Futura", sans-serif;
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes slide-out-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide-in-right {
    animation: slide-in-right 0.5s forwards;
  }
  
  .animate-slide-in-left {
    animation: slide-in-left 0.5s forwards;
  }
  
  .animate-slide-out-right {
    animation: slide-out-right 0.5s forwards;
  }
  
  .animate-slide-out-left {
    animation: slide-out-left 0.5s forwards;
  }
